<div class="flex h-screen items-center justify-center bg-zinc-50 px-4 font-sans text-zinc-900">
    <p-card class="w-full max-w-md shadow-xl border-none overflow-hidden rounded-3xl">

        <div class="flex flex-col items-center py-6 text-center">
            <div class="mb-4 bg-zinc-900 p-4 rounded-2xl text-white flex items-center justify-center shadow-lg">
                <span class="material-symbols-rounded text-3xl">verified_user</span>
            </div>
            <h2 class="text-2xl font-black tracking-tighter uppercase">Grupo Mônaco</h2>
            <p class="text-zinc-500 text-sm lowercase mt-1">Acesse sua conta corporativa</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 mt-2">

            <p-iftalabel>
                <input pInputText id="email" formControlName="email"
                    class="w-full border-zinc-200 focus:border-zinc-900 transition-all h-12" autocomplete="email" />
                <label for="email" class="lowercase">E-mail corporativo</label>
            </p-iftalabel>

            <p-iftalabel>
                <input pInputText id="password" type="password" formControlName="password"
                    class="w-full border-zinc-200 focus:border-zinc-900 transition-all h-12" />
                <label for="password" class="lowercase">Senha</label>
            </p-iftalabel>

            <button pButton type="submit" label="Entrar no Sistema" [loading]="isLoading()"
                [disabled]="loginForm.invalid"
                class="w-full h-12 bg-zinc-900 border-none hover:bg-zinc-800 transition-all rounded-xl mt-4 font-bold lowercase tracking-tight">
            </button>
        </form>

        <div class="mt-10 mb-4 text-center border-t border-zinc-100 pt-6">
            <span class="text-[10px] font-black uppercase tracking-[0.2em] text-zinc-300">
                Tecnologia da Informação &copy; 2026
            </span>
        </div>
    </p-card>
</div>
