{
    "printWidth": 100,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "bracketSameLine": false,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular",
                "singleAttributePerLine": true
            }
        }
    ]
}
