<h2
    mat-dialog-title
    class="text-xl! font-black! tracking-tight! uppercase text-foreground"
>
    {{ isEdit ? 'Editar pilar' : 'Novo pilar' }}
</h2>

<mat-dialog-content class="pt-4">
    <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        id="pillarForm"
        class="flex flex-col gap-4"
    >
        <mat-form-field
            appearance="outline"
            class="w-full"
        >
            <mat-label>Título do Pilar</mat-label>
            <input
                matInput
                formControlName="title"
                placeholder="Ex: Qualidade de Vida"
            />
            @if (form.get('title')?.hasError('required')) {
                <mat-error>O título é obrigatório</mat-error>
            }
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            class="w-full"
        >
            <mat-label>Descrição detalhada</mat-label>
            <textarea
                matInput
                formControlName="description"
                rows="4"
                placeholder="Descreva os objetivos deste pilar..."
            >
            </textarea>
            @if (form.get('description')?.hasError('required')) {
                <mat-error>A descrição é obrigatória</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions
    align="end"
    class="pb-6 px-6 gap-2"
>
    <button
        mat-button
        (click)="cancel()"
        [disabled]="isSaving()"
    >
        cancelar
    </button>
    <button
        mat-flat-button
        color="primary"
        type="submit"
        form="pillarForm"
        [disabled]="form.invalid || isSaving()"
    >
        {{ isEdit ? 'salvar alterações' : 'criar pilar' }}
    </button>
</mat-dialog-actions>
