.active-theme {
    background-color: rgba(242, 233, 109, 0.1) !important;
    color: #F2E96D !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.sidebar-dark {
    --border: rgba(255, 255, 255, 0.1);
}
