<div class="p-6 space-y-4 font-sans">
    <div class="flex justify-between items-center mb-8">
        <div>
            <h1 class="text-2xl font-black tracking-tighter text-foreground uppercase">
                Pilares da Pesquisa
            </h1>
            <p class="text-sm text-muted-foreground lowercase">
                Gestão centralizada do Grupo Mônaco.
            </p>
        </div>

        <button
            pButton
            (click)="openCreate()"
            class="bg-primary hover:opacity-90 text-primary-foreground border-none px-5 py-2.5 rounded-xl flex items-center gap-2 shadow-sm active:scale-95"
        >
            <span class="material-symbols-rounded text-xl">add</span>
            <span class="font-bold lowercase">Novo Pilar</span>
        </button>
    </div>

    @if (isLoading()) {
        <div class="flex flex-col items-center justify-center p-24 gap-4">
            <p-progressSpinner
                class="w-12 h-12"
                strokeWidth="4"
                fill="transparent"
                animationDuration=".5s"
            />
            <span class="text-xs font-bold text-muted-foreground uppercase tracking-widest">
                Carregando dados...
            </span>
        </div>
    } @else {
        <app-shared-table
            [data]="pillars()"
            [columns]="myColumns"
            [totalItems]="total()"
            [pageSize]="pageSize()"
            [currentPage]="currentPage()"
            (pageChange)="handlePage($event)"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)"
        />
    }
</div>

<p-dialog
    [(visible)]="isDialogVisible"
    [header]="selectedPillar() ? 'editar pilar' : 'novo pilar'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    styleClass="w-[90vw] max-w-[500px] border-none shadow-2xl rounded-2xl overflow-hidden"
    maskStyleClass="backdrop-blur-sm bg-black/20"
>
    <app-pillar-form
        [pillar]="selectedPillar()"
        [loading]="isSaving()"
        (save)="handleSave($event)"
        (cancel)="isDialogVisible.set(false)"
    />
</p-dialog>
