<div class="p-6">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Pilares da Pesquisa</h1>

        <button mat-flat-button color="primary" (click)="onCreate()">
            <mat-icon>add</mat-icon>
            Novo Pilar
        </button>
    </div>

    @if (pillarService.loading()) {
    <div class="flex justify-center p-10">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
    } @else {
    <table mat-table [dataSource]="pillarService.pillars()" class="w-full">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="font-bold">Título</th>
            <td mat-cell *matCellDef="let pillar">
                {{ pillar.title | titlecase }}
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Descrição</th>
            <td mat-cell *matCellDef="let pillar" class="py-3!"> {{ pillar.description }} </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef>Atualizado em</th>
            <td mat-cell *matCellDef="let pillar">
                {{ pillar.created_at | date: 'dd/MM/yyyy HH:mm' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-right pr-4">Ações</th>
            <td mat-cell *matCellDef="let pillar" class="text-right pr-4">
                <div class="flex justify-end gap-1">
                    <button mat-icon-button color="primary" (click)="onEdit(pillar)" title="Editar">
                        <mat-icon>edit_square</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(pillar.id)" title="Excluir">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="totalItems()" [pageSize]="pageSize()" [pageIndex]="currentPage() - 1"
        [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" (page)="handlePageEvent($event)" />

    }
</div>
