@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$green-palette,
            ),
            density: (scale: 0),
        ));

$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$azure-palette,
                tertiary: mat.$green-palette,
            ),
            density: (scale: 0),
        ));

html {
    @include mat.all-component-themes($light-theme);
    @include mat.system-level-colors($light-theme);
    @include mat.system-level-typography($light-theme);

    --mat-sys-primary: #000000;
    --mat-sys-on-primary: #FFFFFF;
    --mat-sys-surface: #FFFFFF;
    --mat-sys-on-surface: #000000;
    --mat-sys-outline: #E0E0E0;
}

.dark-mode {
    @include mat.all-component-colors($dark-theme);
    @include mat.system-level-colors($dark-theme);

    --mat-sys-primary: #FFFFFF;
    --mat-sys-on-primary: #000000;
    --mat-sys-surface: #0D0D0D;
    --mat-sys-on-surface: #FFFFFF;
    --mat-sys-outline: #262626;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    transition: background-color 0.2s ease, color 0.2s ease;
    font-family: Roboto, sans-serif;
}
