@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$my-theme-config: (
    color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    ),
    typography: (brand-family: 'Roboto',
        plain-family: 'Roboto',
    ),
    density: (scale: 0,
    ),
);

$light-theme: mat.define-theme($my-theme-config);
$dark-theme: mat.define-theme(map.merge($my-theme-config, (color: (theme-type: dark))));

html {
    height: 100%;
    @include mat.all-component-themes($light-theme);
    @include mat.system-level-typography($light-theme);
    @include mat.system-level-colors($light-theme);

    &.dark {
        @include mat.all-component-colors($dark-theme);
        @include mat.system-level-colors($dark-theme);
        color-scheme: dark;
    }
}

.mat-mdc-card {
    --mdc-outlined-card-container-color: var(--mat-sys-surface-container-low);
}

.mat-mdc-table {
    background-color: var(--mat-sys-surface-container-low);
}

.sidebar-dark {
    @include mat.all-component-colors($dark-theme);
    @include mat.system-level-colors($dark-theme);

    --mat-sys-outline-variant: rgba(255, 255, 255, 0.1);
    background-color: #0f0f0f !important;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
}

