@use '@angular/material' as mat;

html {
    color-scheme: light dark;

    @include mat.theme((color: (primary: mat.$azure-palette,
                theme-type: color-scheme,
            ),
            typography: Roboto,
            density: 0,
        ),
        $overrides: (surface: #f3f5f7,
            on-surface: #1a1c1e,

            surface-container: #ffffff,
            surface-container-low: #eeeeee,
            surface-container-high: #f0f0f0,

            outline: #dddddd,
            outline-variant: #cfcfcf54,

            primary: #2e2e2e,
            on-primary: #ffffff,
        ));

    @include mat.system-classes();
}

.dark {
    @include mat.theme-overrides((surface: #0b0c0d,
            on-surface: #e2e2e6,

            surface-container: #181818,
            surface-container-low: #181818,
            surface-container-high: #111111,

            outline: #363636,
            outline-variant: #3a3a3a00,

            primary: #e2e2e6,
            on-primary: #000000,
        ));
}

.sidebar-dark {
    color-scheme: dark;
    @include mat.theme-overrides((primary: #ffffff,
            on-primary: #000000,
            surface: #0f0f0f,
            on-surface: #ffffff,
            outline-variant: rgba(255, 255, 255, 0.1),
            surface-container-low: #1a1a1a,
        ));
    background-color: #121212 !important;
    color: #ffffff;
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    transition: background-color 0.3s ease;
}
