@use '@angular/material' as mat;

$my-theme-config: (
    color: (primary: mat.$azure-palette, tertiary: mat.$blue-palette),
    typography: Roboto,
    density: 0,
);

$my-light-theme: mat.define-theme($my-theme-config);
$my-dark-theme: mat.define-theme(map-merge($my-theme-config, (color: (theme-type: dark))));

html {
    height: 100%;
    @include mat.all-component-themes($my-light-theme);
    @include mat.system-level-typography($my-light-theme);
    @include mat.system-level-colors($my-light-theme);

    &.dark {
        @include mat.all-component-colors($my-dark-theme);
        @include mat.system-level-colors($my-dark-theme);
    }
}

.sidebar-dark {
    @include mat.all-component-colors($my-dark-theme);
    --mat-sys-outline-variant: rgba(255, 255, 255, 0.1);
}

body {
    color-scheme: light dark;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    margin: 0;
    height: 100%;
}
