@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.$azure-palette;
$my-tertiary: mat.$blue-palette;

html {
    @include mat.theme((color: (theme-type: light,
                primary: $my-primary,
                tertiary: $my-tertiary,
            ),
            typography: Roboto,
            density: 0,
        ));

    @include mat.system-level-colors((color: (theme-type: light, primary: $my-primary, tertiary: $my-tertiary)));
}

.dark-mode {
    @include mat.theme((color: (theme-type: dark,
                primary: $my-primary,
                tertiary: $my-tertiary,
            )));

    @include mat.system-level-colors((color: (theme-type: dark, primary: $my-primary, tertiary: $my-tertiary)));
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        @include mat.theme((color: (theme-type: dark, primary: $my-primary, tertiary: $my-tertiary)));
        @include mat.system-level-colors((color: (theme-type: dark, primary: $my-primary, tertiary: $my-tertiary)));
    }
}
