@use '@angular/material' as mat;

html {
    color-scheme: light dark;

    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$azure-palette,
                theme-type: color-scheme,
            ),
            typography: Roboto,
            density: 0,
        ),
        $overrides: (primary: #857A00,
            on-primary: #ffffff,
            primary-container: #f5f5f5,
            on-primary-container: #000000,

            secondary: #424242,
            on-secondary: #ffffff,
            secondary-container: #eeeeee,
            on-secondary-container: #000000,

            tertiary: #616161,
            on-tertiary: #ffffff,

            surface: #ffffff,
            on-surface: #000000,
            outline: #e0e0e0,
            outline-variant: #f0f0f0,
            surface-container-low: #fafafa,
        ));

    @include mat.system-classes();
}

.dark {
    color-scheme: dark;

    @include mat.theme-overrides((primary: #F2E96D,
            on-primary: #000000,
            primary-container: #333333,
            on-primary-container: #ffffff,

            secondary: #b3b3b3,
            on-secondary: #000000,

            tertiary: #d1d1d1,
            on-tertiary: #000000,

            surface: #121212,
            on-surface: #e3e3e3,
            surface-container-low: #1e1e1e,
            outline: #2c2c2c,
            outline-variant: #3c3c3c,
        ));
}

.sidebar-dark {
    color-scheme: dark;
    @include mat.theme-overrides((primary: #ffffff,
            on-primary: #000000,
            surface: #0f0f0f,
            on-surface: #ffffff,
            outline-variant: rgba(255, 255, 255, 0.1),
            surface-container-low: #1a1a1a,
        ));
    background-color: #0f0f0f !important;
    color: #ffffff;
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    transition: background-color 0.3s ease;
}
