@import "tailwindcss";

@theme {
    /* --- Tokens de Sistema (Dinâmicos) --- */
    --color-background: var(--mat-sys-surface);
    --color-foreground: var(--mat-sys-on-surface);
    --color-primary: var(--mat-sys-primary);
    --color-border: var(--mat-sys-outline-variant);

    /* --- Tokens da Sidebar (Estáticos / Hardcoded) --- */
    --color-sidebar: #0f0f0f;
    --color-sidebar-foreground: #ffffff;
    --color-sidebar-muted: #9ca3af;
    --color-sidebar-border: rgba(255, 255, 255, 0.1);

    /* Identidade Monaco */
    --color-monaco-yellow: #F2E96D;

    --variant-dark: .dark &;
}

/* Identidade Visual do Sidebar Escuro */
.sidebar-dark {
    background-color: var(--color-sidebar) !important;
    color: var(--color-sidebar-foreground) !important;
}

.active-theme {
    background-color: rgba(242, 233, 109, 0.1) !important;
    color: var(--color-monaco-yellow) !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
