@import "tailwindcss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@layer components {
  .success-snackbar {
    @apply !bg-green-600 !text-white font-medium;
  }

  .error-snackbar {
    @apply !bg-red-600 !text-white font-medium;
  }
}
