@import "tailwindcss";

@theme {
    --font-sans: "Roboto", ui-sans-serif, system-ui;
    --color-background: var(--mat-sys-surface);
    --color-foreground: var(--mat-sys-on-surface);
    --color-primary: var(--mat-sys-primary);
    --color-border: var(--mat-sys-outline-variant);
    --color-muted-foreground: var(--mat-sys-on-surface-variant);
    --color-monaco-yellow: #F2E96D;

    --variant-dark: .dark &;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-outline-variant);
    border-radius: 10px;
}

.snackbar-success {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #ffffff;
}

.snackbar-error {
    --mdc-snackbar-container-color: var(--mat-sys-error);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error);
}
