@import "tailwindcss";

@theme {
    --font-sans: "Roboto", ui-sans-serif, system-ui;
    --color-background: var(--mat-sys-surface);
    --color-foreground: var(--mat-sys-on-surface);
    --color-primary: var(--mat-sys-primary);
    --color-border: var(--mat-sys-outline-variant);
    --color-muted-foreground: var(--mat-sys-on-surface-variant);
    --color-monaco-yellow: #F2E96D;

    --variant-dark: .dark &;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-outline-variant);
    border-radius: 10px;
}

.snackbar-success {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #ffffff;
}

.snackbar-error {
    --mdc-snackbar-container-color: var(--mat-sys-error);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error);
}

body {
    background-color: var(--mat-sys-surface) !important;
}

mat-card,
.mat-mdc-card,
.mat-mdc-table {
    background-color: var(--mat-sys-surface-container) !important;
    border: 1px solid var(--mat-sys-outline-variant) !important;
    border-radius: 12px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.mat-mdc-header-row {
    background-color: var(--mat-sys-surface-container-high) !important;
}

mat-card:hover,
.mat-mdc-card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.mat-mdc-paginator {
    background-color: var(--mat-sys-surface-container-high) !important;
    color: var(--mat-sys-on-surface-variant) !important;
    border-top: 1px solid var(--mat-sys-outline-variant) !important;
    background-color: var(--mat-sys-surface-container-high) !important;
    color: var(--mat-sys-on-surface-variant) !important;

    border-left: 1px solid var(--mat-sys-outline-variant) !important;
    border-right: 1px solid var(--mat-sys-outline-variant) !important;
    border-bottom: 1px solid var(--mat-sys-outline-variant) !important;

    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;

    border-top: 1px solid var(--mat-sys-outline-variant) !important;
}

.mat-mdc-table:has(+ mat-paginator) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none !important;
}

.mat-mdc-paginator .mat-mdc-button-base {
    color: var(--mat-sys-on-surface) !important;
}

.mat-mdc-row:last-child .mat-mdc-cell {
    border-bottom: none;
}

.mat-mdc-row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.01);
}

.dark .mat-mdc-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.01);
}
