:host {
  display: block;
}
:host ::ng-deep .mat-mdc-card-title {
    color: #ffffff !important;
}
:host ::ng-deep .mat-mdc-card-header {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.dashboard-list ::ng-deep .mat-mdc-list-item {
    --mdc-list-list-item-label-text-color: #e4e4e7;
    border-bottom: 1px solid #27272a;
}

.dashboard-list ::ng-deep .mat-mdc-list-item:last-child {
    border-bottom: none;
}

button mat-icon {
    vertical-align: middle;
    margin-bottom: 3px;
}
